{% extends "_layouts/default.html" %}

{% block title %}Welcome to emadriga's 42 projects index{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}
<main>
  <h1>Welcome to emadriga's index of some 42 projects</h1>
  <ul>
    <li>
		<a href="https://github.com/eM4dri/42_minishell" target="_blank" rel="noreferrer noopener">42_minishell</a>
    </li>
	<li>
		<a href="https://github.com/eM4dri/42_so_long" target="_blank" rel="noreferrer noopener">42_so_long</a>
	</li>
	<li>
		<a href="https://github.com/eM4dri/42_miniRT" target="_blank" rel="noreferrer noopener">42_miniRT</a>
	</li>
	<li>
		<a href="https://github.com/eM4dri/42_webserv" target="_blank" rel="noreferrer noopener">42_webserv</a>
	</li>
  </ul>
  <p class="✓">Powered by <a href="https://github.com/lucuma/clay" target="_blank" rel="noreferrer noopener">Clay</a></p>
</main>
{%- endblock %}

{% block scripts %}
{%- endblock %}